<div class="container">
    <br>
    <br>
    <h2>
      Show Task
    </h2>
    <br>
    <br>
  <table class="table table-bordered">
    <thead>
    <tr>
      <td>taskid</td>
      <td>taskname</td>
      <td>taskclientname</td>
      <td>taskdescription</td>
      <td width="250" align="center">Action</td>
    </tr>
    </thead>
    <tbody>
     <tr *ngFor="let task of tasks">
      <td>{{task.taskid}}</td>
      <td>{{task.taskname}}</td>
      <td>{{task.taskclientname}}</td>
      <td>{{task.taskdescription}}</td>
      <td width="250"> 
        <a class="btn btn-info" [routerLink]="['/addtask']">Detail</a> 
        <a class="btn btn-primary" [routerLink]="['/addtask']">Edit</a>
        <a class="btn btn-danger" [routerLink]="['/addtask']">Delete</a>
      </td>
     </tr>
    </tbody>
  </table>
  </div>
  